<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
</head>

<body style="padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, sans-serif;">
    <div
        style="background-color: #022C25; padding: 30px; color: white; max-width: 650px; margin: auto; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <div style="display: flex; flex-direction: column; width: 100%; gap: 30px;">
            <div style="width: 100%; text-align: center; display: flex; flex-direction: column; margin-bottom: 5px;">
                <span
                    style="color: white; font-family: 'Beautique Display', serif; font-size: 30px; font-weight: bold; line-height: 30px;">Quên
                    Mật Khẩu</span>
            </div>
            <span style="font-weight: bold;">Xin chào <span style="color: #B5905B; font-weight: bold;">
                    <%= name %>
                </span>,</span>
            <span>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn với email <span
                    style="color: #B5905B; font-weight: bold;">
                    <%= email %>
                </span>. Nếu bạn không yêu cầu điều này,
                bạn có thể bỏ qua email này .</span>
            <span>Để đặt lại mật khẩu của bạn, vui lòng nhấn vào nút bên dưới:</span>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a href="https://example.com/reset-password"
                style="background-color: #B5905B; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">Đặt
                lại mật khẩu</a>
        </div>
        <span style="color: #B5905B; font-weight: bold;">
            Yêu cầu quên mật khẩu sẽ hết hạn trong vòng 15 phút
        </span>
        <br>
        <div style="width: 100%; background-color: #F4F4F4; height: 2px; border-radius: 100rem;"></div>
        <div style="margin-top: 30px; text-align: center; font-size: 14px; color: #B5905B;">
            <span>Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của Joie Palace.</span><br>
            <span>Liên hệ chúng tôi: info@joiepalace.com | +84 123 456 789</span>
        </div>
        <div style="margin-top: 20px; text-align: center; font-size: 12px; color: #B5905B;">
            <span>Thông báo: Liên kết đặt lại mật khẩu sẽ hết hạn trong 15 phút. Nếu không phải bạn yêu cầu, xin vui
                lòng bỏ qua thông báo này hoặc liên hệ với chúng tôi.</span>
        </div>
    </div>
</body>

</html>