# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL = "postgresql://joieplace_root123:Password123@joieplace.postgres.database.azure.com:5432/postgres?schema=public"
WEB_URL = "https://lightly-strong-monitor.ngrok-free.app/"

REFRESH_SECRET_JWT = "BenTreSecretRefreshKey"
ACCESS_SECRET_JWT = "BenTreAccessKey"
EXP_IN_REFRESH_TOKEN = 30d
EXP_IN_ACCESS_TOKEN = 1h

CLOUDINARY_NAME = 'dlpvcsewd'
CLOUDINARY_API_KEY = 862668637738348
CLOUDINARY_API_SECRET = evsgSN4-RGb40NKOwoQyFmNe3gI

# ! MOMO
MOMO_ACCESS_KEY = 'F8BBA842ECF85'
MOMO_SECRET_KEY = 'K951B6PE1waDMi640xX08PD3vg6EkVlz'
MOMO_PARTNER_CODE = 'MOMO'

# ! VNPAY
VNP_TMN_CODE = '83ROYQPV'
VNP_HASH_SECRET = 'AWwapRJsI5KBnYAYJ1A51ArinsJNltgx2g8ivfPP8nPwXbIMGbzl3/8+8ATXAEHK'
VNP_URL = 'https://sandbox.vnpayment.vn/paymentv2/vpcpay.html'

# ! ONEPAY
ONEPAY_PAYMENT_GATEWAY = 'https://mtf.onepay.vn/onecomm-pay/vpc.op'
ONEPAY_MERCHANT = 'ONEPAY'
ONEPAY_ACCESS_CODE = 'D67342C2'
ONEPAY_SECURE_SECRET = 'A3EFDFABA8653DF2342E8DAC29B51AF0'

# ! ZALO
ZALO_APP_ID = '2554'
ZALO_KEY_1 = 'sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn'
ZALO_KEY_2 = 'trMrHtvjo6myautxDUiAcYsVtaeQ8nhf'
ZALO_ENDPOINT = 'https://sb-openapi.zalopay.vn/v2/create'