div[data-slot="input-wrapper"].bg-default-100 {
  background: rgba(0, 0, 0, 0.06) !important;
  color: gray !important;
}

div[data-slot="inner-wrapper"].text-default-400,
div[data-slot="inner-wrapper"].text-default-400 * {
  color: gray !important;
}

span[data-slot="label"] {
  color: gray !important;
  font-weight: bold !important;
}