.menu {
  top: -150vh;
  opacity: 0;
  transition: all 0.3s ease-in;
  /* transition: 0.22s cubic-bezier(0.23, 1, 0.320, 1); */
}
.showMenu {
  top: 0;
  opacity: 1;
}
#menuAccountDropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#buttonAccount:hover #menuAccountDropdown {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
