.banner .slick-list {
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner .slick-slider {
    width: 100%;
    height: 100vh;
}
.banner .slick-slide {
    width: 100vw !important;
    height: 100vh !important;
    user-select: none !important;
}
.banner .slick-slide img {
    width: 100vw !important;
    height: 100vh !important;
}
